{
  "defaultNetwork": "mainnet",
  "gaId": "UA-XXXXXXXXX-X",
  "fbPixelId": "XXXXXXXXXXXXX",
  "serviceReceiver": {
    "mainnet": "0x91e3b48bb6e8fe94951f74e3c2057f820422c590",
    "testnet": "0x91e3b48bb6e8fe94951f74e3c2057f820422c590"
  }
}
